.main__options{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    background: var(--form-background-color);
}

.history__title{
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
}

.history__records {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}