header {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header__logo{
    height: 50px;
}

.header__buttons {
    display: flex;
    gap: 15px;
}

main {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 150px;
    background-image: url("../../Assets/moneyverse.svg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: calc(100% - 275px) ;
}

#slogan {
    font-size: 70px;
    background: linear-gradient(360deg, #801C6A 0%, #9D6BDD 0.01%, #8BA7EF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}